# OS/IDE
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Envs
.env
.env.*
.venv/
venv/

# Data (сырые/временные не в Git)
data/*
!data/.gitkeep

# Cache / logs
*.log
.cache/
